.footer-container {
    background-color: black;
    display: flex;
    justify-content: space-around;
}

h3 {
    color: white;
    font-family: Tektur;
}

a {
    text-decoration: none;
    color: white;
    font-family: Tektur;
}
