@import "page.css";

header {
    width: 100%;
}

.header-container {
    padding: 20px;
    background-color: black;
    border: 4px solid #ffa600;
}

nav {
    display: flex;
    justify-content: space-around;
}

a {
    text-decoration: none;
    color: white;
    font-family: sans-serif;
}
