@font-face {
    font-family: 'Tektur';
    src: url(/fonts/Tektur.ttf);
}

header {
    width: 100%;
}

.header-container {
    padding: 20px;
    background-color: black;
    border: 4px solid #ffa600;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-around;
}

h1 {
    font-family: Tektur;
    font-size: 52px;
    -webkit-text-stroke: 1px #ffa600;
}

.ps {
    font-family: Tektur;
    -webkit-text-stroke: 0.5px #ffa600;
    font-size: 30px;
    position: absolute;
    padding-top: 95px;
    padding-left: 700px;
}
